@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Love Letter TW";
  src: url("/fonts/Lovelt__.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Love Letter TW", sans-serif;
}
